<html>
   <body>
      <form action = "http://localhost:5000/prediksi" method = "post">
         <p>Prediksi Covid YA GUYS Pake KNN:</p>
         <label for="fname">Masukan umur:</label><br>
         <p><input type = "number" name = "umur" /></p>
         <p>Apakah Sakit Kepala</p>
         <p>    
            <input type="radio" name="sakit_kepala" value="1"><label for="html">Ya</label><br>
            <input type="radio" name="sakit_kepala" value="0"><label for="css">Tidak</label><br>
         </p>
         <p>Apakah anosmia</p>
         <p>    
            <input type="radio" name="anosmia" value="1"><label for="html">Ya</label><br>
            <input type="radio" name="anosmia" value="0"><label for="css">Tidak</label><br>
         </p>
         <p>Apakah demam</p>
         <p>    
            <input type="radio" name="demam" value="1"><label for="html">Ya</label><br>
            <input type="radio" name="demam" value="0"><label for="css">Tidak</label><br>
         </p>
         <p>Apakah batuk</p>
         <p>    
            <input type="radio" name="batuk" value="1"><label for="html">Ya</label><br>
            <input type="radio" name="batuk" value="0"><label for="css">Tidak</label><br>
         </p>
         <p>Apakah kehilangan nafsu makan</p>
         <p>    
            <input type="radio" name="kehilangan_nafsu_makan" value="1"><label for="html">Ya</label><br>
            <input type="radio" name="kehilangan_nafsu_makan" value="0"><label for="css">Tidak</label><br>
         </p>
         <p>Apakah Suara serak</p>
         <p>    
            <input type="radio" name="suara_serak" value="1"><label for="html">Ya</label><br>
            <input type="radio" name="suara_serak" value="0"><label for="css">Tidak</label><br>
         </p>
         <p>Apakah Sakit tenggorokan</p>
         <p>    
            <input type="radio" name="sakit_tenggorokan" value="1"><label for="html">Ya</label><br>
            <input type="radio" name="sakit_tenggorokan" value="0"><label for="css">Tidak</label><br>
         </p>
         <p>Apakah nyeri dada</p>
         <p>    
            <input type="radio" name="nyeri_dada" value="1"><label for="html">Ya</label><br>
            <input type="radio" name="nyeri_dada" value="0"><label for="css">Tidak</label><br>
         </p>
         <p>Apakah lemas</p>
         <p>    
            <input type="radio" name="lemas" value="1"><label for="html">Ya</label><br>
            <input type="radio" name="lemas" value="0"><label for="css">Tidak</label><br>
         </p>
         <p>Apakah kebingungan</p>
         <p>    
            <input type="radio" name="kebingungan" value="1"><label for="html">Ya</label><br>
            <input type="radio" name="kebingungan" value="0"><label for="css">Tidak</label><br>
         </p>
         <p>Apakah nyeri otot</p>
         <p>    
            <input type="radio" name="nyeri_otot" value="1"><label for="html">Ya</label><br>
            <input type="radio" name="nyeri_otot" value="0"><label for="css">Tidak</label><br>
         </p>
         <p>Apakah Sesak nafas</p>
         <p>    
            <input type="radio" name="sesak_nafas" value="1"><label for="html">Ya</label><br>
            <input type="radio" name="sesak_nafas" value="0"><label for="css">Tidak</label><br>
         </p>
         <p>Apakah diare</p>
         <p>    
            <input type="radio" name="diare" value="1"><label for="html">Ya</label><br>
            <input type="radio" name="diare" value="0"><label for="css">Tidak</label><br>
         </p>
         <p>Apakah Sakit perut</p>
         <p>    
            <input type="radio" name="sakit_perut" value="1"><label for="html">Ya</label><br>
            <input type="radio" name="sakit_perut" value="0"><label for="css">Tidak</label><br>
         </p>
         <p>Apakah tanpa gejala</p>
         <p>    
            <input type="radio" name="tanpa_gejala" value="1"><label for="html">Ya</label><br>
            <input type="radio" name="tanpa_gejala" value="0"><label for="css">Tidak</label><br>
         </p>
         <p>Apakah komorbid</p>
         <p>    
            <input type="radio" name="komorbid" value="1"><label for="html">Ya</label><br>
            <input type="radio" name="komorbid" value="0"><label for="css">Tidak</label><br>
         </p>
         <p><input type = "submit" value = "submit" /></p>
      </form>   
   </body>
</html>